@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");
html {
    background: #e1f5c4;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Underdog", cursive;
}
/* [
  "#a8e6ce",
  "#dcedc2",
  "#ffd3b5",
  "#ffaaa6",
  "#ff8c94"
  [
  "#ff4e50",
  "#fc913a",
  "#f9d423",
  "#ede574",
  "#e1f5c4"
]
[
  "#1b676b",
  "#519548",
  "#88c425",
  "#bef202",
  "#eafde6"
]
] */
.vote-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    margin: 0 auto;
    max-width: 100%;
}
.vote-view {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-img {
    /* height: auto; */
    /* height: 100%; */
    max-width: 400px;
    border-radius: 20px;
}

/* Add a border to the entire table */
table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #969696;
    margin: 2%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Add a border to each table row (except the first one) */
tr:not(:first-child) {
    border-top: 1px solid #969696;
}

/* Add borders to table cells (td or th) */
td,
th {
    border: 1px solid #1b676b;
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Adjust text alignment as needed */
}

button {
    margin: 2%;
    padding: 5px;
    font-family: "Underdog", cursive;
    background: #1b676b;
    color: #e1f5c4;
    border-radius: 5px;
}

select,
input {
    font-family: "Underdog", cursive;
}

select {
    background: #1b676b;
    color: #e1f5c4;
    border-radius: 5px;
}
