html {
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    text-align: center;
}

.vote-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.dog-img {
    margin-left: 30px;
    width: 400px;
    height: auto;
    border: 1px solid red;
}
.vote-img-container img {
    /* min-width: 50%;
    max-width: 50%; */
    width: 80%;
    height: auto;
}

/* Add a border to the entire table */
table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #969696;
    margin: 2%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Add a border to each table row (except the first one) */
tr:not(:first-child) {
    border-top: 1px solid #969696;
}

/* Add borders to table cells (td or th) */
td,
th {
    border: 1px solid #dddddd;
    padding: 8px; /* Adjust padding as needed */
    text-align: center; /* Adjust text alignment as needed */
}

button {
    margin: 2%;
    padding: 5px;
}
